*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
}
li{
    margin-right: 10px;
}
ul {
    list-style-type: none;
  }
.nav-element{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 30px 25px;
    background-color: blanchedalmond;
}
.normal-page-container{
    display: flex;
    flex-direction: column;
}

button{
    background-color: #b8d1b9; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* Home-user */
table, th, td {
    border: 1px solid;
  }

.Btn-containe{
    height: 10em;
    display: flex;
    align-items: center 
}
