*{
    margin: 0;
    box-sizing: border-box;
}
li{
    margin-right: 10px;
}
ul {
    list-style-type: none;
  }
.nav-element{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 30px 25px;
    background-color: blanchedalmond;
}
.normal-page-container{
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 15px 20px;
}
/* Home-user */
table, th, td {
    border: 1px solid;
  }

  /* home-Admin */
